<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323889766879-17k2dkv9g8rlltqlvtab3q26o1npteca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323889766879-17k2dkv9g8rlltqlvtab3q26o1npteca</string>
	<key>API_KEY</key>
	<string>AIzaSyC4JuWp2XjDYh7UVC5of9cSO0Dd5KbNk14</string>
	<key>GCM_SENDER_ID</key>
	<string>323889766879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mulitha.NIBM-COVID19</string>
	<key>PROJECT_ID</key>
	<string>ios-cw-e6a91</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-cw-e6a91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323889766879:ios:5a4bda427c7c8bda67e46a</string>
	<key>DATABASE_URL</key>
	<string>https://ios-cw-e6a91.firebaseio.com</string>
</dict>
</plist>